@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
}

h2 {
  margin-bottom: 5px;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  max-width: 650px;
  margin: 0 auto;
}

nav > ul > li {
  list-style: none;
}

a {
  color: black;
}
.spacer-5{
  height: 5px;
}
.spacer-10{
  height: 10px;
}
.spacer-20{
  height: 20px;
}
.spacer-30{
  height: 30px;
}
.spacer-40{
  height: 40px;
}
.spacer-50{
  height: 40px;
}

.bg-curved-radius{
  margin-top: -40px;
  position: relative;
  background-color: #f5f5f5;
  border-radius: 40px 40px 0px 0px;
}
.dark .bg-curved-radius{
  background-color: #303030;
  border-top: 1px solid rgba(255,255,255,0.5);
}
.content-container {
  margin: 0 auto;
  padding: 50px 0px;
  width: 90%;
  max-width: 960px;
}
.form-container{
  margin: 0 auto;
  max-width: 600px;
}
.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.link {
  background: none !important;
  border: none;
  padding: 0 !important;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.card {
  margin-bottom: 20px;
  padding: 25px 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0);
  transition: all 500ms ease-in-out;
}
.card:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
}
.card a{
  color: #7b2cbf;
  text-decoration: none;
}
.card a:hover{
  color: #5a189a;
}
.dark .card {
  background-color: rgba(255,255,255,0.2);
}
.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.small {
  font-size: 12pt;
}

.muted {
  color: #999;
}
.dark .muted {
  color: rgba(255,255,255,0.5);
}

.pointer {
  cursor: pointer;
}

.no-underline {
  text-decoration: none;
}

.separator {
  height: 40px;
}

.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}
/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal */
.modal {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 101; /* Sit on top, hiher value than nav */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(255, 255, 255, 0); /* Black w/ opacity */
  backdrop-filter: blur(10px);
}

.modal-content {
  display: flex;
  margin: auto;
  padding: 20px;
  width: 450px;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 6px 12px rgb(0 0 0 / 10%);
}
.modal-content p{
  font-size: 22px;
  font-weight: 600;
}
.error .modal-content p{
  color: rgb(228, 32, 32)
}
/* dark theme overrides */
.dark {
  background-color: #0c0c0c;
  color: white;
}

.dark a {
  color: white;
}

.dark .link {
  color: white;
}

.dark .modal-content {
  background-color: black;
  color: white;
}

/* Form Group styles */
.form-group{
  margin: 40px 0px;
}
.form-group label{
  display: block;
  margin-bottom: 15px;
  font-size: 16px;
}
.form-group input{
  display: block;
  margin-bottom: 15px;
  padding: 15px 25px;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #eaeaea;
  transition: all 500ms ease-in-out;
}
.dark .form-group input{
  color: #fff;
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.3);
}
.dark .form-group input::placeholder{
  color: #fff;
}
.form-group input:focus{
  outline: #7b2cbf;
  box-shadow: 0px 3px 12px rgba(0,0,0,0.05);
}
.dark .form-group input:focus{
  border: 1px solid rgba(255,255,255,0.8);
}
.form-group input[type="submit"]{
  display: inline-block;
  max-width: 200px;
  min-height: 50px;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background-image: linear-gradient(to right,#c77dff, #7b2cbf);
  border: 0px;
  box-shadow: 0px 3px 12px rgba(0,0,0,0.1);
  transition: all 500ms ease-in-out;
  cursor: pointer;
}
.form-group input[type="submit"]:hover{
  box-shadow: 0px 6px 12px rgba(0,0,0,0.15);
}
.form-group input[type="submit"]:disabled{
  background-image: linear-gradient(to right,#bbbbbb, #bbbbbb);
  cursor: no-drop;
  box-shadow: none;
}
.dark .form-group input[type="submit"]:disabled{
  color: rgba(255,255,255,0.5);
  background-image: linear-gradient(to right,rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

/* Button styles */
.btn{
  display: inline-block;
  max-width: 200px;
  min-height: 50px;
  border-radius: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  background-image: linear-gradient(to right,#c77dff, #7b2cbf);
  border: 0px;
  box-shadow: 0px 3px 12px rgba(0,0,0,0.1);
  transition: all 500ms ease-in-out;
  cursor: pointer;
}
.btn:hover{
  box-shadow: 0px 6px 12px rgba(0,0,0,0.15);
}
.btn:disabled{
  background-image: linear-gradient(to right,#bbbbbb, #bbbbbb);
  cursor: no-drop;
  box-shadow: none;
}